.time-block {
    background-color: #3498db; /* Blue */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}
.weekday {
    background: #EFEFEF;
}
.slot {
    padding: 1px;
    margin: 1px;
}

td.space-at-right {
    border-right: 5px solid transparent;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.time-table {
  border-collapse: separate;
}

tr.spaceUnder {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}